* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
    background: url(../imgs/Desert3.jpg) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
    -moz-background-size: 100% 100%
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center; 
    justify-items: center;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mainTitle {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.paperDiv {
    width: 860px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0.922);
    box-shadow: 7px 7px 17px rgba(137, 137, 138, 0.276);
    border-radius: 15px;
    margin-bottom: 20PX;
}

.textDiv {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}
.text{
    width: 800px;
    height: 95px;
    resize:none;
    border-radius: 10px;
    border-style: hidden;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: #000000;
    font-size:18px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
}
.subDiv {
    text-align: center;
    margin-top: 5px;
}
.jumpDiv {
    text-align:right;
    padding-top: 30px;
    padding-right: 15px;
    width: 800px;
}

.input {
    width: 300px;
    margin-left: 5px;
    border-radius: 10px;
    border-style: hidden;
    height: 30px;
    background-color: rgb(253, 255, 143);
    outline: none;
    color: #000000;
    margin-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:16px;
    font-weight: 700;
}

.inputData {
    width: 200px;
    margin-left: 5px;
    border-radius: 10px;
    border-style: hidden;
    height: 30px;
    background-color: rgb(176, 227, 249);
    outline: none;
    color: #000000;
    margin-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:16px;
    font-weight: 700;
}

.buttonSubmit {
    border-color: rgb(249, 249, 249);
    background-color: rgb(0, 203, 27);
    color: rgb(255, 255, 255);
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
    font-weight:bold;
}

.buttonNormal {
    border-color: rgb(249, 249, 249);
    background-color: rgb(234, 234, 234);
    color: rgb(0, 0, 0);
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
    font-weight:bold;
}

.buttonAlert {
    border-color: rgb(249, 249, 249);
    background-color: rgb(255, 61, 61);
    color: rgb(255, 255, 255);
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
    font-weight:bold;
}

.button {
    border-color: rgb(249, 249, 249);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 128, 255);
    border-style: hidden;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight:bold;
}

.title{
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 10px;
    color:rgb(0, 0, 0);
}


